
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1472614140'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1472614140#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1472614140') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1472614140') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1472614140#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-aui-icon-back:before { content: "\e601"; }
.icon-aui-icon-camera:before { content: "\e603"; }
.icon-aui-icon-calendar:before { content: "\e602"; }
.icon-aui-icon-cart:before { content: "\e604"; }
.icon-aui-icon-cert:before { content: "\e605"; }
.icon-aui-icon-close:before { content: "\e606"; }
.icon-aui-icon-comment:before { content: "\e607"; }
.icon-aui-icon-correct:before { content: "\e608"; }
.icon-aui-icon-date:before { content: "\e609"; }
.icon-aui-icon-weichat:before { content: "\e632"; }
.icon-aui-icon-weichat-circle:before { content: "\e631"; }
.icon-aui-icon-weibo:before { content: "\e630"; }
.icon-aui-icon-video:before { content: "\e62f"; }
.icon-aui-icon-unlock:before { content: "\e62e"; }
.icon-aui-icon-trash:before { content: "\e62d"; }
.icon-aui-icon-top:before { content: "\e62c"; }
.icon-aui-icon-star:before { content: "\e62b"; }
.icon-aui-icon-search:before { content: "\e629"; }
.icon-aui-icon-share:before { content: "\e62a"; }
.icon-aui-icon-right:before { content: "\e628"; }
.icon-aui-icon-refresh:before { content: "\e627"; }
.icon-aui-icon-recovery:before { content: "\e626"; }
.icon-aui-icon-question:before { content: "\e625"; }
.icon-aui-icon-qq:before { content: "\e624"; }
.icon-aui-icon-plus:before { content: "\e623"; }
.icon-aui-icon-phone:before { content: "\e622"; }
.icon-aui-icon-pencil:before { content: "\e621"; }
.icon-aui-icon-paper:before { content: "\e620"; }
.icon-aui-icon-my:before { content: "\e61f"; }
.icon-aui-icon-more:before { content: "\e61e"; }
.icon-aui-icon-mobile:before { content: "\e61d"; }
.icon-aui-icon-minus:before { content: "\e61c"; }
.icon-aui-icon-menu:before { content: "\e61b"; }
.icon-aui-icon-map:before { content: "\e61a"; }
.icon-aui-icon-mail:before { content: "\e619"; }
.icon-aui-icon-lock:before { content: "\e618"; }
.icon-aui-icon-location:before { content: "\e617"; }
.icon-aui-icon-like:before { content: "\e616"; }
.icon-aui-icon-left:before { content: "\e615"; }
.icon-aui-icon-laud:before { content: "\e614"; }
.icon-aui-icon-info:before { content: "\e613"; }
.icon-aui-icon-image:before { content: "\e612"; }
.icon-aui-icon-home:before { content: "\e611"; }
.icon-aui-icon-hide:before { content: "\e610"; }
.icon-aui-icon-gear:before { content: "\e60f"; }
.icon-aui-icon-forward:before { content: "\e60e"; }
.icon-aui-icon-flag:before { content: "\e60d"; }
.icon-aui-icon-edit:before { content: "\e60c"; }
.icon-aui-icon-down:before { content: "\e60b"; }
.icon-aui-icon-display:before { content: "\e60a"; }
